@charset "UTF-8";
/* CSS Document */


body {
  	margin: 0;
	color: white;
  	font-family: "Poppins", sans-serif;
}


/* Top Navigation Bar */
.topnav {
	position: sticky;
  	overflow: hidden;
  	background-color: #0c1c2d;
}

.topnav a {
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: .875rem 1rem;
  	text-decoration: none;
  	font-size: 1.1rem;
}

.topnav a:hover {
  background-color: #0c1c2d;
  color: #30bdbc;
}

.topnav a.active {
  	color: #30bdbc;
}

.topnav .icon {
  	display: none;
}

@media screen and (max-width: 50rem) {
  	.topnav a:not(.navName) {display: none;}
  	.topnav a.icon {
    	float: right;
    	display: block;
  }
}

@media screen and (max-width: 50rem) {
  	.topnav.responsive {position: relative;}
  	.topnav.responsive .icon {
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	.topnav.responsive a:not(.navName) {
		
		float: left;
		display: flex;
		
  	}
}



/* Image Banner */
.banner{
	background-image: url("images/background.jpeg");
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	display: flex;
	flex-direction: column;
}

.profile-picture {
	margin-top: 3%;
 	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
	border-radius: 50%;
	border: 5px solid white;
}

.name {
	font-size: 7vw;
	font-weight: bold;
	text-align: center;
}

.title {
	font-size: 2.8vw;
	font-style: italic;
	text-align: center;
	margin-bottom: 5%;
}


/* All Sections */
section {
	background-color: #0c1c2d;
	padding-top: 5%;
	padding-bottom: 5%;
}

.section-title {
	font-size: 3vw;
	text-align: center;
	padding-bottom: 3%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


/* About */